@import "https://unpkg.com/open-props";

:root {
  --color-bg: #000000;
  --color-bg-header: #1e1e1e;
  --color-text: #ffffff;
  --page-width: 1200px;
  --vertical-margin: 7rem;
  --logo-size: 80px;
  --hero-font-size: 36px;
  --title-font-size: 108px;
  --section-font-size: 24px;
  --github-logo-size: 40px;
  --page-height: 92svh;
  --link-gap: 8rem;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Average Sans", sans-serif;
}


a,
a:visited {
  color: var(--orange-6);
  text-decoration: none;
}

a:hover {
  color: var(--orange-4);
  text-decoration: underline;
}

.main-content {
  display: grid;
  grid-template-columns: var(--page-width);
  justify-content: center;

}

section.page-1 {
  height: var(--page-height);
}

section.page-1>*+* {
  margin-top: var(--vertical-margin);
}

.cta {
  display: grid;
  align-items: center;
  justify-items: center;

  a,
  a:visited {
    color: black;
  }

  a:hover {
    color: var(--primary-color);
  }

  button {
    background-color: var(--gray-0);

    padding: 12px 40px;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--primary-color);
  }
}

header {
  background-color: var(--color-bg-header);
  padding: 0 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  text-align: right;
  grid-column: 1 / span 3;
  font-weight: 400;

  font-size: var(--section-font-size);

  .logo {
    width: var(--logo-size);
    height: var(--logo-size);

  }

  .header-links {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 1.3rem;
    height: 100%;
    font-size: 1.4rem;

    a,
    a:visited {
      color: var(--color-text);
    }

    .github-logo {
      height: var(--github-logo-size);
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
    }
  }
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.title-panel {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;



  h1 {
    justify-self: end;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: var(--title-font-size);
    font-style: normal;
    text-decoration: underline;
    display: inline;

    .alternate {
      color: black;
      -webkit-text-stroke: 0.5px white;
    }
  }
}

.intro-text {
  font-size: var(--hero-font-size);
  text-align: center;
}

.intro-video {
  display: grid;
  justify-items: center;

  video {
    max-width: calc(var(--page-width) - 10%);
    height: auto;
  }
}

.links {
  margin: var(--vertical-margin) 0;
  font-size: var(--hero-font-size);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: var(--link-gap);
}

@media (max-width: 1200px) {
  :root {
    --page-width: 95svw;
    --vertical-margin: 3rem;
    --logo-size: 100px;
    --title-font-size: 70px;
    --hero-font-size: 36px;
    --section-font-size: 30px;
  }
}

@media (max-width: 768px) {
  :root {
    --page-width: 95svw;
    --vertical-margin: 2rem;
    --logo-size: 15svw;
    --title-font-size: 9svw;
    --hero-font-size: 4.5svw;
    --section-font-size: 4svw;
    --link-gap: 4rem;
    --s: 1;
  }
}