@import "https://unpkg.com/open-props";

:root {
  --color-bg: #000000;
  --color-text: #ffffff;
  --page-width: 1200px;
  --vertical-margin: 4rem;
  --logo-size: 160px;
  --hero-font-size: 36px;
  --title-font-size: 108px;
  --section-font-size: 24px;
  --github-logo-size: 40px;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: var(--orange-6);
  text-decoration: none;
}

a:hover {
  color: var(--orange-4);
  text-decoration: underline;
}

html {
  display: grid;
  grid-template-columns: var(--page-width);
  justify-content: center;

}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Average Sans", sans-serif;



  >section,
  >header {
    display: grid;
    justify-items: center;
    width: 100%;
    margin-bottom: var(--vertical-margin);

  }

}

header {
  display: grid;
  grid-template-rows: 1fr;
  text-align: right;
  grid-column: 1 / span 3;
  font-weight: 400;

  font-size: var(--section-font-size);

  .documentation {
    width: 100%;

    .github-logo {
      height: var(--github-logo-size);
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
    }
  }
}

.title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  img {
    width: var(--logo-size);
    height: var(--logo-size);
  }

  h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: var(--title-font-size);
    font-style: normal;
    text-decoration: underline;
    display: inline;

    .alternate {
      color: black;
      -webkit-text-stroke: 0.5px white;
    }
  }

}

.intro-text {
  font-size: var(--hero-font-size);
  text-align: center;
}

.intro-video {


  video {
    max-width: calc(var(--page-width) - 10%);
    height: auto;
  }
}

.links {
  font-size: var(--hero-font-size);
  display: grid;
  gap: 1rem;
}

@media (max-width: 1200px) {
  :root {
    --page-width: 95svw;
    --vertical-margin: 3rem;
    --logo-size: 100px;
    --title-font-size: 70px;
    --hero-font-size: 36px;
    --section-font-size: 30px;
  }
}

@media (max-width: 768px) {
  :root {
    --page-width: 95svw;
    --vertical-margin: 2rem;
    --logo-size: 15svw;
    --title-font-size: 9svw;
    --hero-font-size: 4.5svw;
    --section-font-size: 4svw;
  }
}